extends layout 

block content
    - const member = currentUser.membershipStat === "Member"
 
    if member      
        p
            a(href="/clubhouse/post/create") Post
            |   a message
    else
        p
            a(href="/home/join") Join 
            |   to see photos and member perks.

    section.posts
        for post in posts
            div.post-content
                p.title
                    a(href=`/clubhouse/post/${post._id}`) #{post.title}
                if member
                    small Posted on #{post.date} by
                       a(href=`/clubhouse/user/${post.author._id}`) #{post.author.fullname}
                else
                    small Posted by anonymous
                p.postBody #{post.postBody}
                    

